[submodule "library/Bear"]
	path = library/Bear
	url = https://dbrown@git.nerderylabs.com/BEAR.git
[submodule "library/Zend"]
	path = library/Zend
	url = https://dbrown@git.nerderylabs.com/ZendFramework.git
